# This workflow will build a Java project with Maven using JFrog Artifactory
# Dependencies are resolved from Artifactory using JFrog CLI

name: Java CI with Maven

on:
  push:
    branches: [ main ]
    paths: [ 'app/**' ]
  pull_request:
    branches: [ main ]
    paths: [ 'app/**' ]

permissions:
  id-token: write
  contents: read

env:
  JF_URL: ${{ secrets.JF_URL }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17' ]

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK ${{matrix.java}}
        uses: actions/setup-java@v4
        with:
          java-version: ${{matrix.java}}
          distribution: 'temurin'
      
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ env.JF_URL }}
        with:
          oidc-provider-name: yanirw/CI-demo@github
      
      - name: Configure Maven to use JFrog Artifactory
        working-directory: app/spring-petclinic
        run: |
          jf mvnc --repo-resolve-releases=demo-dev-libs-release --repo-resolve-snapshots=demo-dev-libs-snapshot
      
      - name: Build with Maven via JFrog
        working-directory: app/spring-petclinic
        run: |
          jf mvn clean verify -B
